body{
	background-color: #f5f5dc;
}

.logoBanco{
	display: flex;
	justify-content: center;	
}

.textoPrincipal{
	text-align: center;
	font-size: larger;
}

.comun{
	text-decoration:none;
    color:inherit;
    font-size:14px;
}

.iniciarTransacción{
	text-align: center;
}

.continuarButton{
	text-align: right;
	padding-right: 400px;
}

.iniciarTransacción li {
	display:inline-block;
    width:10%;
    padding:5px 10px;
    background-color:#000;
    border:1px solid #000;
    text-align:center;
    color:#fff;
    border-top-left-radius:40px;
    border-bottom-right-radius:40px;
}

.iniciarTransacción li:hover{
	background-color:#fff;
    color:#000;
}

.continuarButton li {
	display:inline-block;
    width:10%;
    padding:5px 10px;
    background-color:#000;
    border:1px solid #000;
    text-align:center;
    color:#fff;
    border-top-right-radius:40px;
}

.continuarButton li:hover{
	background-color:#fff;
    color:#000;
}

.area{
	display: flex;
	justify-content: center;
}

.normaltext{
	text-align: center;
	font-size: medium;
	padding-top: 20px;
}

.texto{
	font-size: larger;
}

.texto1{
	font-size: medium;
}