body{
	background-color: #f5f5dc;
}

.logoBanco{
	display: flex;
	justify-content: center;	
}

.textoPrincipal{
	text-align: center;

}

.comun{
	text-decoration:none;
    color:inherit;
    font-size:14px;
}

.iniciarTransacción{
	text-align: center;
}

.iniciarTransacción li {
	display:inline-block;
    width:10%;
    padding:5px 10px;
    background-color:#000;
    border:1px solid #000;
    text-align:center;
    color:#fff;
    border-bottom-left-radius:40px;
}

.iniciarTransacción li:hover{
	background-color:#fff;
    color:#000;
}